
:root {
    --bg-color: #DCEFFE;
    --header-text-color: #ffffff;
    --header-bg-cloor: #0466c8;
    --card-header-text-color: #21295c;
    --card-bg-color:#ffffff;
    --card-divider-color: #e2eafc;
}
body {
    background-color: var(--bg-color);
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: var(--header-bg-cloor);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.p-title {
    padding: 10px 0 10px 0;
    margin-bottom: 0;
    text-align: center;
    color: var(--header-text-color);
    font-size: 66px;
    font-weight: 700;
}

main {
    padding-top: 70px;
    padding-bottom: 70px;
    justify-content: center; /* Center the cards horizontally */
}

.card-container {
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr;

    .card {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 14px;
        background-color: var(--card-bg-color);

        .card-header {
            padding: 6px;
            border-radius: 6px 6px 0 0;
            border-bottom: 2px solid var(--card-divider-color);
        }

        .card-title {
            margin-top: 4px;
            margin-bottom: 4px;
            font-size: 32px;
            font-weight: 700;
            color: var(--card-header-text-color);
            text-align: center;
        }

        .card-body {
            height: max-content;
            padding: 20px;
            font-size: 16px;
            .card-text{
                line-height: 1.4;
            }
            .card-list {
                padding: 0;
                list-style-type: none;
            }
            .card-list li {
                margin-bottom: 8px;
            }

        }
    }
}


.card-list li::before {
    content: '\25A0';
    color: #4cbfa6;
    display: inline-block;
    width: 1em;
    margin-right: 2px;
}
.authors{
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}

.about-grid {
    margin: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    .about-item{
        display: flex;
        justify-content: center;
        align-content: center;
        .about-img {
            height: 100%;
            width: 200px;
            border-radius: 6px;
            border: 1px solid #482673;
        }
    }
}


.page-footer {
    bottom: 0;
    text-align: right;
    background-color: #c9c5c5;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.footer-container {
    color: black;
    font-size: 12px;
    padding: 6px 20px 6px 0;
}

.jsx-js {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.image-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    max-width: 100%;
}

.img_root_element {
    height: 270px;
}

.image-display-data {
    height: 280px;
}



@media screen and (max-width: 1000px) {
    .p-title {
        font-size: 52px;
    }
    .card-container {
        gap: 18px;
        grid-template-columns: 1fr;
    }
    .card-container {
        .card{
            .card-title {
                font-size: 26px;
            }
            .card-body {
                font-size: 16px;
            }
            .card-text{
                font-size: 12px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .p-title {
        font-size: 36px;
    }
    .card-container {
        gap: 16px;

        .card {
            .card-title {
                font-size: 20px;
            }

            .card-body {
                font-size: 12px;
            }

            .card-text {
                font-size: 10px;
            }
        }
    }
}